@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root
{
   --color-red: #F03C42;
   --color-blue: #222374;
   --color-gray: #CCCCCC;
   --color-white: #FFFFFF;
   --color-black: #000000;
}

*
{
   font-family: "Open Sans", sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;   
}

a, a:hover
{
   color: unset;
   text-decoration: none;
}

.container
{
   width: 100%;
   max-width: 960px;   
   margin: 0 auto;
}

header
{
   background-color: var(--color-red);
   height: 100px;
   display: flex;
   align-items: center;
   padding: 20px 15px;
}

.header-content
{
   display: flex;
   justify-content: space-between;
}

nav h5
{
   color: var(--color-white);
   font-size: 18px;
}

nav img
{
   width: 30px;
}

nav a
{
  color: var(--color-white);
  font-size: 14px;
  padding-left: 10px;
}

.logo-instagram
{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   align-items: center;
}

#know
{
   background-color: var(--color-blue);
   padding: 20px 15px;
}

#know h2
{
   color: var(--color-white);
   margin-bottom: 40px;
   line-height: 43.58px;
   font-weight: 700;
   font-size: 32px;
}

.card-space
{
   background-color: var(--color-gray);
   border-radius: 8px;
   padding: 20px;
   margin: 20px 0;
}

.card-space h4
{
   margin: 10px 0;
   font-size: 20px;
   line-height: 27.24px;
}

.card-space p
{
   margin: 10px 0;
   font-size: 14px;
   line-height: 19.07px;
}

#modalities
{
   background-color: var(--color-white);
   padding: 20px 15px;
}

#modalities h2
{
   color: var(--color-red);
   margin-bottom: 40px;
   line-height: 43.58px;
   font-weight: 700;
   font-size: 32px;
}

.card-modalities
{
   background-color: var(--color-blue);
   border-radius: 8px;
   padding: 20px;
   margin: 20px 0;
}

.card-modalities h4
{
   margin: 10px 0;
   font-size: 20px;
   line-height: 27.24px;
   color: var(--color-white);
}

.card-modalities p
{
   margin: 10px 0;
   font-size: 14px;
   line-height: 19.07px;
   color: var(--color-white);
}

footer
{
   height: 262px;
   background-color: var(--color-black);
   color: var(--color-white);
   display: flex;
   padding: 15px;
   align-items: center;
}

footer img
{
   width: 30px;
   margin-right: 10px;
}

.footer-content
{
   display: flex;
   flex-direction: column;
   align-items: center;         
}

.footer-content a
{
   font-size: 14px;
}

.logo-twitter
{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   align-items: center;
   
}




